// Colours
$white: #ffffff;
$grey-100: #FDFFFC;
$grey-200: #E7E7E8;
$grey-400: #A2A1A1;
$grey-600: #3C3D42;
$grey-700: #2B2626;
$grey-800: #191919;
$black: #000000;
$blue-dark: #2270EB;
$blue: #73A8FD;
$blue-light: #BAE2FF;
$green-dark: #168E4E;
$green: #6ED29D;
$green-light: #CAFFE3;
$red-dark: #9F1425;
$red: #FF324B;
$red-light: #FFA6A6;
$orange-dark: #DB3E14;
$orange: #FF744F;
$orange-light: #FFB29D;
$yellow-dark: #FF9F1C;
$yellow: #FFBE0B;
$yellow-light: #FFE7A5;
$purple-dark: #3A076E;
$purple: #915EC6;
$purple-light: #DFC0FF;

$shadow-colour: rgba($grey-700, 0.25);

// Screen Sizes
$screen-tablet-portrait: 481px !default;
$screen-tablet-landscape: 768px !default;
$screen-desktop: 1024px !default;
$screen-hd: 1920px !default;