@import '/src/sass/essentials';

$top_spacing: 6.6666vw + #{rem(44)};

.ProjectIntro {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        display: flex;
        position: relative;
        width: 100%;
        height: calc(100% - 192px);
        max-width: rem(1920);
        padding: 4.4444vw 0 2.2222vw;
        & > span {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &__cover {
            position: absolute;
            top: calc(100% - 240px);
            min-width: 2400px;
            right: 50%;
            transform: translateX(50%);
            z-index: 5;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: rem(556);
        position: relative;
        padding: rem(20) 5.5555vw rem(88);
        z-index: 3;
        &::before {
            content: '';
            position: absolute;
            top: rem(-12);
            width: 100vw;
            height: rem(1000);
            background-color: $white;
            z-index: -1;
            left: 50%;
            transform: translateX(calc(-50%)) skewY(2deg);
        }
        & > hr {
            margin: rem(24) 0;
            background-color: $grey-300;
            border: 0;
            height: 1px;
        }
    }
    &__software {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        // bottom: rem(-80);
        padding: 0 5.5555vw;
        z-index: 5;
        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
            height: 48px;
            pointer-events: none;
            &:last-of-type {
                margin-right: 0;
            }
            & > img, & > svg {
                // max-width: rem(20);
            }
        }
        &__details {
            position: absolute;
            display: flex;
            flex-direction: column;
            bottom: 100%;
            background-color: $grey-100;
            padding: rem(12) rem(16);
            border-radius: 2px;
            // min-width: 200%;
            // max-width: rem(152);
            z-index: 20;
            pointer-events: none;
            opacity: 0;
            transition: .3s ease-in-out;
            & > span {
                white-space: nowrap;
            }
            &::before {
                content: '';
                height: rem(12);
                width: rem(12);
                position: absolute;
                top: calc(100% - #{rem(6)});
                right: rem(10);
                background-color: $grey-100;
                transform: rotate(45deg);
                border-radius: 2px;
            }
        }
        &:hover & {
            &__details {
                opacity: 1;
                transition: .2s ease-in-out;
            }
        }
    }
}

@media (min-width: 640px) {
    .ProjectIntro {
        &__content {
            padding-left: 0;
            padding-right: 0;
        }
        &__software {
            padding: 0; 
        }
        &__img {
            padding: 2.222vw 0;
        }
    }
}

@media (min-width: 720px) {
    .ProjectIntro {
        &__content {
            padding-bottom: rem(48);
        }
        &__software {
            top: rem(24);
            height: rem(48);
        }
    }
}
    @media (min-width: 880px) {
    .ProjectIntro {
    }
}

@media (min-width: 1040px) {
    .ProjectIntro {
        &__content {
            max-width: rem(700);
        }
    }
}
