@import '/src/sass/essentials';

$top_spacing: 6.6666vw + #{rem(44)};

.ProjectIntro {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100vh + 16px);
        max-width: rem(2000);
        & > span {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &__cover {
            position: absolute;
            top: calc(100% - 240px);
            min-width: 2400px;
            right: 50%;
            transform: translateX(50%);
            z-index: 5;
        }
    }
    &__title {
        &__wrapper {
            position: absolute;
            width: 100%;
            max-width: rem(556);
            bottom: rem(80);
            z-index: 3;
        }
        display: flex;
        flex-direction: column;
        position: relative;
        // margin-top: rem(16);
        // margin-bottom: rem(16);
        padding: 0 5.5555vw;
        &__wave {
            &__filled {

            }
            &__outline {

            }
        }
        &::before, &::after {
            content: '';
            position: absolute;
            left: 50%;
            border-radius: 50%;
            width: 282vw;
            height: 282vw;
            max-width: 2200px;
            max-height: 1800px;
            top: rem(-40);
            transform: translateX(-55%);
            background-color: $white;
        }
        &::after {
            background-color: $grey-100;
            top: rem(100);
            transform: translateX(calc(-55% - 64px));
        }
        // &::after {
            // content: '';
            // position: absolute;
            // left: 50%;
            // border-radius: 50%;
        //     width: 302vw;
        //     height: 302vw;
        //     max-width: 2000px;
        //     max-height: 2000px;
        //     top: rem(-56);
        //     transform: translateX(calc(-50% - #{rem(28)}));
        //     border: 1px solid $white;
        // }
        &__heading {
            margin-bottom: rem(6);
            z-index: 2;
        }
        &__vocation {
            z-index: 2;
        }
    }
    &__software {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: rem(-80);
        padding: 0 5.5555vw;
        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 48px;
            & > img, & > svg {
                max-width: rem(20);
            }
        }
    }
}

@media (min-width: 640px) {
    .ProjectIntro {
        &__title {
            padding: 0;
            &::before {
                top: rem(-48);
            }
        }
        &__software {
            padding: 0;   
        }
    }
}

@media (min-width: 1040px) {
    .ProjectIntro {
        &__title {
            &__wrapper {   
                max-width: rem(700);
            }
        }
    }
}

@media (min-width: 1280px) {
    .ProjectIntro {
        &__title {
            &__wrapper {   
                max-width: rem(700);
            }
            &::before {
                top: rem(-52);
            }
        }
    }
}
