@import '/src/sass/variables/_primitives/colour-palette.module';

/* Neutral */
/* colors */
$material-10: $neutral-10;
$material-20: $neutral-20;
$material-30: $neutral-30;
$material-40: $neutral-40;
$material-50: $neutral-50;
$material-60: $neutral-60;
$material-70: $neutral-70;
$material-80: $neutral-80;
$material-90: $neutral-90;
$material-100: $neutral-100;
$material-110: $neutral-110;
$material-120: $neutral-120;

:export {
    mat-10: $material-10;
    mat-20: $material-20;
    mat-30: $material-30;
    mat-40: $material-40;
    mat-50: $material-50;
    mat-60: $material-60;
    mat-70: $material-70;
    mat-80: $material-80;
    mat-90: $material-90;
    mat-100: $material-100;
    mat-110: $material-110;
    mat-120: $material-120;
}

// /* Steel */
// /* colors */
// $material-10: $steel-10;
// $material-100: $steel-100;
// $material-110: $steel-110;
// $material-120: $steel-120;
// $material-20: $steel-20;
// $material-30: $steel-30;
// $material-40: $steel-40;
// $material-50: $steel-50;
// $material-60: $steel-60;
// $material-70: $steel-70;
// $material-80: $steel-80;
// $material-90: $steel-90;

// /* Stone */
// /* colors */
// $material-10: $stone-10;
// $material-100: $stone-100;
// $material-110: $stone-110;
// $material-120: $stone-120;
// $material-20: $stone-20;
// $material-30: $stone-30;
// $material-40: $stone-40;
// $material-50: $stone-50;
// $material-60: $stone-60;
// $material-70: $stone-70;
// $material-80: $stone-80;
// $material-90: $stone-90;

// /* Wood */
// /* colors */
// $material-10: $wood-10;
// $material-100: $wood-100;
// $material-110: $wood-110;
// $material-120: $wood-120;
// $material-20: $wood-20;
// $material-30: $wood-30;
// $material-40: $wood-40;
// $material-50: $wood-50;
// $material-60: $wood-60;
// $material-70: $wood-70;
// $material-80: $wood-80;
// $material-90: $wood-90;