@import '/src/sass/variables/_primitives/colour-palette';

// /* colors */
$paint-10: $lime-10;
$paint-20: $lime-20;
$paint-30: $lime-30;
$paint-40: $lime-40;
$paint-50: $lime-50;
$paint-60: $lime-60;
$paint-70: $lime-70;
$paint-80: $lime-80;
$paint-90: $lime-90;
$paint-100: $lime-100;
$paint-110: $lime-110;
$paint-120: $lime-120;

:export {
    paint-10: $paint-10;
    paint-20: $paint-20;
    paint-30: $paint-30;
    paint-40: $paint-40;
    paint-50: $paint-50;
    paint-60: $paint-60;
    paint-70: $paint-70;
    paint-80: $paint-80;
    paint-90: $paint-90;
    paint-100: $paint-100;
    paint-110: $paint-110;
    paint-120: $paint-120;
}

// $lower-10: $colours-red-10;
// $lower-100: $colours-red-100;
// $lower-110: $colours-red-110;
// $lower-120: $colours-red-120;
// $lower-20: $colours-red-20;
// $lower-30: $colours-red-30;
// $lower-40: $colours-red-40;
// $lower-50: $colours-red-50;
// $lower-60: $colours-red-60;
// $lower-70: $colours-red-70;
// $lower-80: $colours-red-80;
// $lower-90: $colours-red-90;
// $upper-10: $colours-sky-10;
// $upper-100: $colours-sky-100;
// $upper-110: $colours-sky-110;
// $upper-120: $colours-sky-120;
// $upper-20: $colours-sky-20;
// $upper-30: $colours-sky-30;
// $upper-40: $colours-sky-40;
// $upper-50: $colours-sky-50;
// $upper-60: $colours-sky-60;
// $upper-70: $colours-sky-70;
// $upper-80: $colours-sky-80;
// $upper-90: $colours-sky-90;
// /* mid */
// /* colors */
// $centre-10: $colours-green-10;
// $centre-100: $colours-green-100;
// $centre-110: $colours-green-110;
// $centre-120: $colours-green-120;
// $centre-20: $colours-green-20;
// $centre-30: $colours-green-30;
// $centre-40: $colours-green-40;
// $centre-50: $colours-green-50;
// $centre-60: $colours-green-60;
// $centre-70: $colours-green-70;
// $centre-80: $colours-green-80;
// $centre-90: $colours-green-90;
// $lower-10: $colours-orange-10;
// $lower-100: $colours-orange-100;
// $lower-110: $colours-orange-110;
// $lower-120: $colours-orange-120;
// $lower-20: $colours-orange-20;
// $lower-30: $colours-orange-30;
// $lower-40: $colours-orange-40;
// $lower-50: $colours-orange-50;
// $lower-60: $colours-orange-60;
// $lower-70: $colours-orange-70;
// $lower-80: $colours-orange-80;
// $lower-90: $colours-orange-90;
// $upper-10: $colours-ocean-10;
// $upper-100: $colours-ocean-100;
// $upper-110: $colours-ocean-110;
// $upper-120: $colours-ocean-120;
// $upper-20: $colours-ocean-20;
// $upper-30: $colours-ocean-30;
// $upper-40: $colours-ocean-40;
// $upper-50: $colours-ocean-50;
// $upper-60: $colours-ocean-60;
// $upper-70: $colours-ocean-70;
// $upper-80: $colours-ocean-80;
// $upper-90: $colours-ocean-90;
// /* high */
// /* colors */
// $centre-10: $colours-teal-10;
// $centre-100: $colours-teal-100;
// $centre-110: $colours-teal-110;
// $centre-120: $colours-teal-120;
// $centre-20: $colours-teal-20;
// $centre-30: $colours-teal-30;
// $centre-40: $colours-teal-40;
// $centre-50: $colours-teal-50;
// $centre-60: $colours-teal-60;
// $centre-70: $colours-teal-70;
// $centre-80: $colours-teal-80;
// $centre-90: $colours-teal-90;
// $lower-10: $colours-yellow-10;
// $lower-100: $colours-yellow-100;
// $lower-110: $colours-yellow-110;
// $lower-120: $colours-yellow-120;
// $lower-20: $colours-yellow-20;
// $lower-30: $colours-yellow-30;
// $lower-40: $colours-yellow-40;
// $lower-50: $colours-yellow-50;
// $lower-60: $colours-yellow-60;
// $lower-70: $colours-yellow-70;
// $lower-80: $colours-yellow-80;
// $lower-90: $colours-yellow-90;
// $upper-10: $colours-lavender-10;
// $upper-100: $colours-lavender-100;
// $upper-110: $colours-lavender-110;
// $upper-120: $colours-lavender-120;
// $upper-20: $colours-lavender-20;
// $upper-30: $colours-lavender-30;
// $upper-40: $colours-lavender-40;
// $upper-50: $colours-lavender-50;
// $upper-60: $colours-lavender-60;
// $upper-70: $colours-lavender-70;
// $upper-80: $colours-lavender-80;
// $upper-90: $colours-lavender-90;
// /* last */
// /* colors */
// $centre-10: $material-10;
// $centre-100: $material-100;
// $centre-110: $material-110;
// $centre-120: $material-120;
// $centre-20: $material-20;
// $centre-30: $material-30;
// $centre-40: $material-40;
// $centre-50: $material-50;
// $centre-60: $material-60;
// $centre-70: $material-70;
// $centre-80: $material-80;
// $centre-90: $material-90;
// $lower-10: $colours-lime-10;
// $lower-100: $colours-lime-100;
// $lower-110: $colours-lime-110;
// $lower-120: $colours-lime-120;
// $lower-20: $colours-lime-20;
// $lower-30: $colours-lime-30;
// $lower-40: $colours-lime-40;
// $lower-50: $colours-lime-50;
// $lower-60: $colours-lime-60;
// $lower-70: $colours-lime-70;
// $lower-80: $colours-lime-80;
// $lower-90: $colours-lime-90;
// $upper-10: $colours-cherry-10;
// $upper-100: $colours-cherry-100;
// $upper-110: $colours-cherry-110;
// $upper-120: $colours-cherry-120;
// $upper-20: $colours-cherry-20;
// $upper-30: $colours-cherry-30;
// $upper-40: $colours-cherry-40;
// $upper-50: $colours-cherry-50;
// $upper-60: $colours-cherry-60;
// $upper-70: $colours-cherry-70;
// $upper-80: $colours-cherry-80;
// $upper-90: $colours-cherry-90;