$black: #030001;
$white: #ffffff;
$transparent-black-0: #00000000;
$transparent-black-10: #0000001a;
$transparent-black-40: #00000066;
$transparent-black-50: #00000080;
$transparent-white-0: #ffffff00;
$transparent-white-40: #ffffff66;
$transparent-white-50: #ffffff80;

/* colors */
$cherry-10: #faf2f6;
$cherry-20: #f8edf4;
$cherry-30: #f4e5ed;
$cherry-40: #ebcfdc;
$cherry-50: #eaacbe;
$cherry-60: #ed87a0;
$cherry-70: #dd718b;
$cherry-80: #b53e64;
$cherry-90: #85234d;
$cherry-100: #630e39;
$cherry-110: #480827;
$cherry-120: #2f0011;

$green-10: #f7fef8;
$green-20: #e8f4ed;
$green-30: #d8e9dc;
$green-40: #c9e4cd;
$green-50: #b2d9b6;
$green-60: #91c488;
$green-70: #65a160;
$green-80: #357134;
$green-90: #245026;
$green-100: #1e3c22;
$green-110: #1c2b1e;
$green-120: #18201a;

$lavender-10: #f6f3f8;
$lavender-20: #f3eef6;
$lavender-30: #f1e7f8;
$lavender-40: #e5d6f0;
$lavender-50: #d9c1eb;
$lavender-60: #c4a4d5;
$lavender-70: #9c7caf;
$lavender-80: #715791;
$lavender-90: #4c3069;
$lavender-100: #402164;
$lavender-110: #341845;
$lavender-120: #280e31;

$lime-10: #f7faf2;
$lime-20: #f3f9e8;
$lime-30: #e8f1d1;
$lime-40: #e2edc4;
$lime-50: #d5dda4;
$lime-60: #c4cb7b;
$lime-70: #a6b35a;
$lime-80: #808d2c;
$lime-90: #6a742e;
$lime-100: #434a18;
$lime-110: #2e360f;
$lime-120: #222808;

$ocean-10: #eff2fc;
$ocean-20: #edf0ff;
$ocean-30: #dee5fd;
$ocean-40: #cbd2f6;
$ocean-50: #b4b3e7;
$ocean-60: #7f81c5;
$ocean-70: #545ca7;
$ocean-80: #374093;
$ocean-90: #2a2d71;
$ocean-100: #201f49;
$ocean-110: #161635;
$ocean-120: #0f0c2d;

$orange-10: #fff9f4;
$orange-20: #fdf5eb;
$orange-30: #faeddf;
$orange-40: #f4dabc;
$orange-50: #edb798;
$orange-60: #ec996a;
$orange-70: #dd783f;
$orange-80: #d26415;
$orange-90: #a8430a;
$orange-100: #742a0b;
$orange-110: #4a1a00;
$orange-120: #2b1001;

$red-10: #fbf3f3;
$red-20: #fdeeee;
$red-30: #fadfdd;
$red-40: #edb4b4;
$red-50: #e38585;
$red-60: #cf665f;
$red-70: #b63c34;
$red-80: #9d2922;
$red-90: #811d1d;
$red-100: #661715;
$red-110: #420707;
$red-120: #250303;

$sky-10: #e8f0ef;
$sky-20: #e0f5f6;
$sky-30: #cae6ef;
$sky-40: #a9d8e7;
$sky-50: #8bc8db;
$sky-60: #58bfcd;
$sky-70: #0cabc1;
$sky-80: #097ca1;
$sky-90: #10536f;
$sky-100: #163a55;
$sky-110: #10263f;
$sky-120: #0d1621;

$teal-10: #f1f9f7;
$teal-20: #e4f3f0;
$teal-30: #d0ede7;
$teal-40: #b2e1d9;
$teal-50: #88cabf;
$teal-60: #67c0ab;
$teal-70: #28b694;
$teal-80: #2c9880;
$teal-90: #25756c;
$teal-100: #195757;
$teal-110: #0a3a3a;
$teal-120: #0a2828;

$yellow-10: #fdfcf5;
$yellow-20: #fffced;
$yellow-30: #fffbdb;
$yellow-40: #f8efbf;
$yellow-50: #ffe896;
$yellow-60: #ffdd85;
$yellow-70: #ffcc5c;
$yellow-80: #d29724;
$yellow-90: #a6701e;
$yellow-100: #734603;
$yellow-110: #472f01;
$yellow-120: #2b1f00;

/* materials */
$neutral-10: #fafafa;
$neutral-20: #f2f2f2;
$neutral-30: #e0e0e0;
$neutral-40: #cdcdcd;
$neutral-50: #bebebe;
$neutral-60: #aaaaaa;
$neutral-70: #7b7b7b;
$neutral-80: #4f4f4f;
$neutral-90: #313131;
$neutral-100: #191919;
$neutral-110: #101010;
$neutral-120: #060606;

$steel-10: #f6f7f8;
$steel-20: #eff2f5;
$steel-30: #e4e7ec;
$steel-40: #d6dadf;
$steel-50: #c3c7d1;
$steel-60: #a6abb5;
$steel-70: #7d8691;
$steel-80: #5a5e6b;
$steel-90: #323842;
$steel-100: #1f242c;
$steel-110: #10141b;
$steel-120: #090a10;

$stone-10: #fafaf9;
$stone-20: #f5f5f4;
$stone-30: #edebe5;
$stone-40: #e1ded7;
$stone-50: #d3ccc0;
$stone-60: #afa49b;
$stone-70: #746b65;
$stone-80: #44403c;
$stone-90: #2b2721;
$stone-100: #201b17;
$stone-110: #150e07;
$stone-120: #030200;

$wood-10: #fbf8f2;
$wood-20: #f9f4e9;
$wood-30: #f5ecdd;
$wood-40: #efe4be;
$wood-50: #edd692;
$wood-60: #d9b983;
$wood-70: #a47951;
$wood-80: #694932;
$wood-90: #3f2414;
$wood-100: #2a170a;
$wood-110: #1d0e08;
$wood-120: #120701;

:export {
    cherry_10: $cherry-10;
    cherry_20: $cherry-20;
    cherry_30: $cherry-30;
    cherry_40: $cherry-40;
    cherry_50: $cherry-50;
    cherry_60: $cherry-60;
    cherry_70: $cherry-70;
    cherry_80: $cherry-80;
    cherry_90: $cherry-90;
    cherry_100: $cherry-100;
    cherry_110: $cherry-110;
    cherry_120: $cherry-120;

    green_10: $green-10;
    green_20: $green-20;
    green_30: $green-30;
    green_40: $green-40;
    green_50: $green-50;
    green_60: $green-60;
    green_70: $green-70;
    green_80: $green-80;
    green_90: $green-90;
    green_100: $green-100;
    green_110: $green-110;
    green_120: $green-120;

    lavender_10: $lavender-10;
    lavender_20: $lavender-20;
    lavender_30: $lavender-30;
    lavender_40: $lavender-40;
    lavender_50: $lavender-50;
    lavender_60: $lavender-60;
    lavender_70: $lavender-70;
    lavender_80: $lavender-80;
    lavender_90: $lavender-90;
    lavender_100: $lavender-100;
    lavender_110: $lavender-110;
    lavender_120: $lavender-120;

    lime_10: $lime-10;
    lime_20: $lime-20;
    lime_30: $lime-30;
    lime_40: $lime-40;
    lime_50: $lime-50;
    lime_60: $lime-60;
    lime_70: $lime-70;
    lime_80: $lime-80;
    lime_90: $lime-90;
    lime_100: $lime-100;
    lime_110: $lime-110;
    lime_120: $lime-120;

    ocean_10: $ocean-10;
    ocean_20: $ocean-20;
    ocean_30: $ocean-30;
    ocean_40: $ocean-40;
    ocean_50: $ocean-50;
    ocean_60: $ocean-60;
    ocean_70: $ocean-70;
    ocean_80: $ocean-80;
    ocean_90: $ocean-90;
    ocean_100: $ocean-100;
    ocean_110: $ocean-110;
    ocean_120: $ocean-120;

    orange_10: $orange-10;
    orange_20: $orange-20;
    orange_30: $orange-30;
    orange_40: $orange-40;
    orange_50: $orange-50;
    orange_60: $orange-60;
    orange_70: $orange-70;
    orange_80: $orange-80;
    orange_90: $orange-90;
    orange_100: $orange-100;
    orange_110: $orange-110;
    orange_120: $orange-120;

    red_10: $red-10;
    red_20: $red-20;
    red_30: $red-30;
    red_40: $red-40;
    red_50: $red-50;
    red_60: $red-60;
    red_70: $red-70;
    red_80: $red-80;
    red_90: $red-90;
    red_100: $red-100;
    red_110: $red-110;
    red_120: $red-120;

    sky_10: $sky-10;
    sky_20: $sky-20;
    sky_30: $sky-30;
    sky_40: $sky-40;
    sky_50: $sky-50;
    sky_60: $sky-60;
    sky_70: $sky-70;
    sky_80: $sky-80;
    sky_90: $sky-90;
    sky_100: $sky-100;
    sky_110: $sky-110;
    sky_120: $sky-120;

    teal_10: $teal-10;
    teal_20: $teal-20;
    teal_30: $teal-30;
    teal_40: $teal-40;
    teal_50: $teal-50;
    teal_60: $teal-60;
    teal_70: $teal-70;
    teal_80: $teal-80;
    teal_90: $teal-90;
    teal_100: $teal-100;
    teal_110: $teal-110;
    teal_120: $teal-120;

    yellow_10: $yellow-10;
    yellow_20: $yellow-20;
    yellow_30: $yellow-30;
    yellow_40: $yellow-40;
    yellow_50: $yellow-50;
    yellow_60: $yellow-60;
    yellow_70: $yellow-70;
    yellow_80: $yellow-80;
    yellow_90: $yellow-90;
    yellow_100: $yellow-100;
    yellow_110: $yellow-110;
    yellow_120: $yellow-120;
}