@import '/src/sass/_abstracts/functions';

/* numbers */
$int-0: 0;
$int-1: 1px;
$int-2: 2px;
$int-3: rem(3);
$int-4: rem(4);
$int-5: rem(5);
$int-6: rem(6);
$int-7: rem(7);
$int-8: rem(8);
$int-9: rem(9);
$int-10: rem(10);
$int-11: rem(11);
$int-12: rem(12);
$int-14: rem(14);
$int-16: rem(16);
$int-20: rem(20);
$int-24: rem(24);
$int-28: rem(28);
$int-32: rem(32);
$int-36: rem(36);
$int-40: rem(40);
$int-44: rem(44);
$int-48: rem(48);
$int-56: rem(56);
$int-64: rem(64);
$int-72: rem(72);
$int-80: rem(80);
$int-88: rem(88);
$int-96: rem(96);
$int-104: rem(104);
$int-112: rem(112);
$int-120: rem(120);
$int-128: rem(128);
$int-136: rem(136);
$int-144: rem(144);
$int-152: rem(152);
$int-160: rem(160);
$int-180: rem(180);
$int-200: rem(200);
$int-9999: rem(9999);
