/* numbers */
$integers-0: 0px;
$integers-1: 1px;
$integers-2: 2px;
$integers-3: 3px;
$integers-4: 4px;
$integers-5: 5px;
$integers-6: 6px;
$integers-7: 7px;
$integers-8: 8px;
$integers-9: 9px;
$integers-10: 10px;
$integers-11: 11px;
$integers-12: 12px;
$integers-16: 16px;
$integers-20: 20px;
$integers-24: 24px;
$integers-28: 28px;
$integers-32: 32px;
$integers-36: 36px;
$integers-40: 40px;
$integers-44: 44px;
$integers-48: 48px;
$integers-56: 56px;
$integers-64: 64px;
$integers-72: 72px;
$integers-80: 80px;
$integers-88: 88px;
$integers-96: 96px;
$integers-104: 104px;
$integers-112: 112px;
$integers-120: 120px;
$integers-128: 128px;
$integers-136: 136px;
$integers-144: 144px;
$integers-152: 152px;
$integers-160: 160px;
$integers-180: 180px;
$integers-200: 200px;
$integers-9999: 9999px;
