@import '/src/sass/essentials';

.ProjectOverview {
    // @extend %f-c-col;
    &__project {
        display: flex;
        width: 100%;
        position: relative;
        margin: rem(16) 0;
        background-color: $grey-100;
        &:nth-of-type(1) {
            margin-top: rem(12);
        }
        & > * { z-index: 1; }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 126px;
            min-width: 126px;
            max-width: 126px;
            // height: 12vh;
            // min-width: 50%;
            overflow: hidden;
            &:hover {
                & > img {
                    // transform: translateY(-12px);
                    // transition: .3s ease-in-out;
                }
            }
            & > img {
                width: auto;
                height: 100%;
                // transition: .4s ease-in-out;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 12px;
            &__heading {
                margin-bottom: rem(4);
            }
            &__vocation {
    
            }
        }
        &_selected {
            background-color: $grey-200;
        }
    }

}
