.Circles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(50vW) translateY(50vh) rotate(-8deg);
}