@import "/src/sass/_foundation/colours.module";

.PanelLeft {
    background: $white;
    height: 100%;
    width: 100%;
    border: 1px solid $grey-100;
    // position: relative;
    // padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}