@import '/src/sass/essentials';

.Home {
    width: 100%;
    position: relative;
    transition: .2s;
    // margin-top: calc(6.6666vw + #{rem(46) + #{rem(24)}});
    padding: 0 5.5555vw;
    z-index: 20;
    &__nav {
        position: absolute;
        bottom: 2.2222vw;
    }
}
