@import '/src/sass/essentials';
@import '/src/sass/_abstracts/transitions';

.Logo {
    &__container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 20%;
    }
    position: relative;
    height: rem(48);
    width: rem(48);
    padding: rem(8);
    // margin: 0 rem(12);
    // min-width: rem(32);
    // max-width: rem(36);
    opacity: .9;
    // position: fixed;
    @extend %trans-long;
    & > svg, & > img {
        @include size(100%);
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 9.7778px;
        height: 23px;
        border-radius: 0 0 5px 5px;;
        background-color: $darker;
        @extend %trans-short;
    }

    &:hover {
        @extend %trans-short;
        opacity: 1;
    }
}


@include bp_320 {
    .Logo { 
        &__container {
            width: 25%;
        }
    }
}
@include bp_460 {
    .Logo { 
        &__container {
            width: 16.6666%;
        }
    }
}
@include bp_620 {
    .Logo { 
        &__container {
            width: 14.3333%;
        }
    }
}
@include bp_728 {
    .Logo {
        width: rem(36);
        &__container {
            width: 12.5%;
        }
    }
}
@include bp_880 {
    .Logo { 
        &__container {
            width: 11.1111%;
        }
    }
}
@include bp_1024 {
    .Logo { 
        &__container {
            width: 10%;
        }
    }
}
@include bp_1140 {
    .Logo { 
        &__container {
            width: 9%;
        }
    }
}
@include bp_1280 {
    .Logo { 
        &__container {
            width: 8.3333%;
        }
    }
}
@include bp_1336 {
    .Logo { 
        &__container {
            width: 7.5%;
        }
    }
}
@include bp_1440 {
    .Logo { 
        &__container {
            width: 7%;
        }
    }
}
@include bp_1700 {
    .Logo { 
        &__container {
            width: 6.5%;
        }
    }
}
@include bp_1920 {
    .Logo { 
        &__container {
            width: 6%;
        }
    }
}
@include bp_2100 {
    .Logo { 
        &__container {
            width: 5.5%;
        }
    }
}
@include bp_2400 {
    .Logo { 
        &__container {
            width: 5%;
        }
    }
}
@include bp_2800 {
    .Logo { 
        &__container {
            width: 4.5%;
        }
    }
}
@include bp_3400 {
    .Logo { 
        &__container {
            width: 4.2%;
        }
    }
}
