@import "/src/sass/_foundation/colours.module";

.panel {
    background: $white;
    height: 100%;
    width: 100%;
    // border: 1px solid $grey-100;
    border-left: 0.5px solid $grey-100;
    border-right: 0.5px solid $grey-100;
    // position: relative;
    // padding: 16px;
    // pointer-events: none;
}