@import '/src/sass/essentials';

$top_spacing: 6.6666vw + #{rem(44)};
// $img_height: calc(85vh - ((#{$top_spacing}) + (6.6666vw * 2)));

// @keyframes slideUp {
//     from {
//         height: 0;
//     }
//     to {
//         height: auto;
//     }
// }

.project {
    &__gridview {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 20%;
        padding: 2.2222vw 0;
    }
}

.projects {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        &_hide {
            opacity: 0;
            pointer-events: none;
        }
    }
}

