@import '/src/sass/essentials';

$top_spacing: 6.6666vw + #{rem(44)};
// $img_height: calc(85vh - ((#{$top_spacing}) + (6.6666vw * 2)));

// @keyframes slideUp {
//     from {
//         height: 0;
//     }
//     to {
//         height: auto;
//     }
// }

.project {
    // display: flex;
    // margin-top: 90px;
    &__intro {
        position: relative;
        height: calc(100vh - (#{$top_spacing}) - 64px);
        height: 100vh;
        padding-top: calc(#{$top_spacing});
        // display: flex;
        // justify-content: center;  
    }
    &__img {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        height: calc(100% - (#{$top_spacing}) - 148px);
        & > span {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: rem(16);
        margin-bottom: rem(16);
        &__heading {
            // transform: translateY(rem(-32));
            // margin-top: rem(-32);
            margin-bottom: rem(6);
            z-index: 2;
        }
        &__vocation {
            z-index: 2;
        }
    }
    &__main {
        display: flex;
        margin-top: calc(6.6666vw + #{rem(46) + #{rem(24)}});
    }

    &__gridview {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 20%;
        padding: 2.2222vw 0;
    }
}

.projects {
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        &_hide {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.mySwiper {
    height: 100vh;;
    .swiper {
        
    }
}
