@import '/src/sass/essentials';

.NavItem {
    width: 100%;
    padding: 0;
    &::before {
        content: none;
    }
    & > a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: rem(12) rem(16) rem(12) 0;
        color: $dark;
        &::after {
            content: '';
            height: 1px;
            width: rem(48);
            border-radius: 2px;
            background-color: $dark;
            position: absolute;
            top: calc(50% + 1px);;
            left: calc(100% + #{rem(4)});
            transform: translateX(rem(40));
            transition: .4s ease-in-out;
        }
        &:hover {
            color: $darker;
            &::after {
                transform: translateX(0);
                transition: .3s ease-in-out;
            }
        }
        &_selected {
            &::after {
                transform: translateX(0);
                transition: .2s ease-in-out;
            }

        }
    }
}

@media (max-width: 360px) {
    .NavItem {
        & > a {
            &::after {
                left: 100%;
            }
        }
    }
}