// @import '/src/sass/essentials';
@import '/src/sass/variables/variables';

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: $margins;
    left: $margins;
    bottom: $margins;
    height: calc(100% - ($margins * 2));
    flex-direction: column;
    z-index: 30;
    
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

    }
}
