.PanelRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.2222vw;
    position: relative;
    &::after {
        content: '';
        background: white;
        position: absolute;
        height: 100%;
        width: 200%;
        right: 0;
        top: 0;
        transform: translateX(100%);
    }
}