@import '/src/sass/essentials';

.projects {
    // @extend %f-c-col;
    position: relative;
    width: 100%;
    &__wrapper {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        overflow: auto;
        &_hide {
            opacity: 0;
            pointer-events: none;
        }
    }
    &__gridview {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 20%;
        padding: 2.2222vw 0;
        &_hide {
            display: none;
        }
    }
}

// .projectsPreview {
//     @extend %f-c-col;
//     position: relative;
//     margin-bottom: rem(24);
//     &::before {
//         content: '';
//         background-color: $darker;
//         width: 1px;
//         height: calc(100% + #{rem(48)});
//         position: absolute;
//         top: rem(-24);
//         bottom: 0;
//     }
// }