@import '/src/sass/essentials';

.projects {
    // @extend %f-c-col;
    position: relative;
    width: 100%;
    background-color: $grey-100;
    &__wrapper {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        overflow: auto;
        &_hide {
            opacity: 0;
            pointer-events: none;
        }
    }
    &__gridview {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 20;
        &_hide {
            display: none;
        }
    }
}

.project {
    &__wrapper {
        position: relative;
        overflow: hidden;
    }
    position: relative;
    width: 100%;
    max-width: rem(556);
    margin: 0 auto;
    &__circle {
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 50%;
        z-index: -1;
        height: 100%;
        width: 200vw;
    }
    &__section, &__outro {
        position: relative;
        padding-left: 5.5555vw;
        padding-right: 5.5555vw;
    }
    &__section {
        margin-bottom: rem(48);
        & > h3 {
            margin-bottom: rem(24);
            padding-top: rem(32);
        }
        & > p {
            margin-bottom: rem(20);
        }
        &::before {
            content: '';
            position: absolute;
            width: 100vw;
            height: calc(100% + 50px);
            // background-color: aliceblue !important;
            z-index: -1;
            top: -1px;
            left: 50%;
            transform: translateX(calc(-50%)) skewY(2deg);
        }
    }
    &__no_circle {
        &::before {
            content: none;
        }
    }
    &__outro {
        z-index: 10;
        padding-top: rem(40);
        padding-bottom: rem(32);
        max-width: rem(360);
        margin: 0 auto;
        padding: rem(32) 5.5555vw;
        text-align: center;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-radius: 50%;
            z-index: -1;
            width: 300vw;
            height: 225vw;
            transform: translateX(calc(-50%));
            background-color: $grey-200;
        }
    }
    &__nextProject {
        position: relative;
        z-index: 15;
    }
    &__pagination {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 2.2222vw;
        padding: 0 rem(16);
        z-index: 5;
        &__number {
            color: $white;
        }
        &__bar {
            height: 1px;
            width: rem(40);
            position: relative;
            margin: 0 rem(8);
            background-color: rgba($color: $white, $alpha: .3);
            & > span {
                height: 100%;
                position: absolute;
                background-color: $white;
            }
        }
    }
}

.ProjectOverview {
    &__wrapper {
        position: relative;
        height: 100%;
    }
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5.5555vw;
    padding-top: 144px;
    padding-bottom: rem(64);
    &__project {
        display: flex;
        width: 100%;
        min-width: 100%;
        max-width: rem(382);
        position: relative;
        margin: rem(16) rem(8) 0;
        background-color: $white;
        border: 1px solid $grey-100;
        transition: .2s ease-in-out;
        & > * { z-index: 1; }
        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 122px;
            min-width: 38.197%;
            max-width: 38.197%;
            // height: 12vh;
            // min-width: 50%;
            overflow: hidden;
            & > img {
                width: auto;
                height: 100%;
                // transition: .4s ease-in-out;
            }
            &::after {
                content: '';
                height: 158px;
                width: 158px;
                position: absolute;
                right: 0;
                bottom: -12px;
                border-radius: 0 50% 50% 0;
                box-shadow: 0 0 0 40px $white;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 12px 16px;
            &__heading {
                margin-bottom: rem(4);
            }
            &__vocation {
                display: flex;
                align-items: center;
                &__bar {
                    display: flex;
                    position: relative;
                    height: 1px;
                    width: 24px;
                    background-color: rgba($color: $dark, $alpha: .2);
                    margin-right: 12px;
                    overflow: hidden;
                    & > span {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        transform: translateX(-100%);
                        transition: .5s ease-in-out;
                    }
                }
                & > h6 {

                }
            }
        }
        &__logo {
            position: absolute;
            top: 12px;
            right: 12px;
            & > img, & > svg {
                max-width: 40px;
                max-height: 70px;
            }
            &__outline, &__full {
                position: absolute;
                top: 0;
                right: 0;
                transition: .5s ease-in-out;
            }
            &__outline {
                opacity: 1;
            }
            &__full {
                opacity: 0;
            }
        }
        &:hover {
            border: 1px solid $grey-200;
            transition: .2s ease-in-out;
        }
        &:hover & {
            &__text {
                &__vocation {
                    &__bar {
                        & > span {
                            transform: translateX(0);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
            &__logo {
                &__outline, &__full {
                    transition: .3s ease-in-out;
                }
                &__outline {
                    opacity: 0;
                }
                &__full {
                    opacity: 1;
                }
            }
        }
        &_active {
            border: 1px solid $grey-300;
            &:hover {
                border: 1px solid $grey-400;
            }
        }
        &_active & {
            &__text {
                &__vocation {
                    &__bar {
                        & > span {
                            transform: translateX(0);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
            &__logo {
                &__outline, &__full {
                    transition: .3s ease-in-out;
                }
                &__outline {
                    opacity: 0;
                }
                &__full {
                    opacity: 1;
                }
            }
        }
    }

}

@media (min-width: 640px) {
    .ProjectOverview {
        &__project {
            min-width: auto;
        }
    }
    .project {
        &__section {
            padding: 0;
        }
        &__outro {
            padding: rem(32) 0;
        }
    }
}

@media (min-width: 800px) {
    .ProjectOverview {
        &__project {
            margin: rem(20) rem(10) 0;
        }
    }
}

@media (min-width: 1040px) {
    .ProjectOverview {
        &__project {
            margin: rem(24) rem(12) 0;
        }
    }
    .project {
        max-width: rem(700);
        &__outro {
            &::before {
                width: 225vw;
            }
        }
    }
}

@media (min-width: 1280px) {
    .project {
        
    }
}