@import '/src/sass/essentials';
@import '/src/sass/_abstracts/transitions';

.intro {
    width: 100%;
    // height: 100vh;
    position: relative;
    text-align: center;
    transition: .2s;
    margin-bottom: rem(20);
    pointer-events: none;
    &__heading {
        display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
        text-align: left;
        // calculate vh + vw
        width: auto;
        margin-top: calc(6.6666vw + #{rem(46) + #{rem(24)}});
        pointer-events: none;
        /*
        &_top {
            padding-top: calc(6.6666vw + #{rem(46) + #{rem(32)}});
        }
        &_centered {
            padding-top: calc(50vh - 6.6666vh);
            &::before, &::after {
                // font-size: rem(48.86);
                font-size: rem(48);
                display: flex;
                position: relative;
                font-family: 'Playfair Display';
            }
            &::before {
                content: '\2190';
                padding-right: rem(12);
                // right: 100%;
            }
            &::after {
                content: '\2192';
                padding-left: rem(12);
                // left: 100%;
            }
        }
        */
    }
    &__subtext {
        position: absolute;
        font-size: rem(12);
        // padding-top: calc(50vh - 6.6666vh + 2px);
        font-style: italic;
        top: 2px;
        &_left {
            // right: calc(50% + 16px);
            left: calc(28px);
        }
        &_right {
            left: calc(87px);
        }
    }
}
.scroll {
    position: absolute;
    // bottom: calc(#{rem(24)} + 3.333vw);
    bottom: rem(44);
    left: 0;
    right: 0;
    text-align: center;
    &::before {
        content: '';
    }
}

// breakpoint fixes size for heading
@media screen and (min-width: 728px) {
    .intro {
        &__heading {
            // font-size: 5vw;
        }
    }
}