@function strip-units($value) {
	@return ($value / ($value * 0 + 1));
}
//Set font size as pixels and rems {px}
@function rem($pxval) {
	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}
	$base: 16;
	@if not unitless($base) {
		$base: strip-units($base);
	}
	@return ($pxval / $base) * 1rem;
}