// Typography
@mixin font-family($family) {
	font-family: $family, Arial, Helvetica, sans-serif;
}

// Sizing & Spacing
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}
@mixin min-size($width, $height: $width) {
	min-width: $width;
	min-height: $height;
}
@mixin max-size($width, $height: $width) {
	max-width: $width;
	max-height: $height;
}

@mixin absolute-pos($top, $right: $top, $bot: $right, $left: $bot) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bot;
	left: $left;
}

// Background
@mixin background-pos($pos, $repeat, $size) {
	background-position: $pos;
    background-repeat: $repeat;
    background-size: $size;
}

// Styling


// Selection
@mixin user-select($type) {
	-webkit-touch-callout: $type;
    -webkit-user-select: $type;
    -khtml-user-select: $type;
    -moz-user-select: $type;
    -ms-user-select: $type;
    user-select: $type;
}
@mixin tap-highlight($transparent) {
	-webkit-tap-highlight-color: $transparent;
	-webkit-tap-highlight-color: transparent;
}

@mixin selection($bg, $colour) {
	background-color: $bg;
    color: $colour;
}

// BREAKPOINTS
@mixin bp_1 {
	@media (min-width: rem(400)) {
	  @content;
	}
}
@mixin bp-sm {
	@media (min-width: rem(600)) {
	  @content;
	}
}
@mixin bp-md {
	@media (min-width: rem(960)) {
	  @content;
	}
}
@mixin bp-lg {
	@media (min-width: rem(1280)) {
	  @content;
	}
}
@mixin desktop-hd {
	@media (min-width: rem(1920)) {
	  @content;
	}
}
@mixin ultra-wide {
	@media (min-width: rem(2560)) {
	  @content;
	}
}

// SPECIFIC BREAKPOINTS

// Phone Landscape
@mixin phone-landscape {
	@media (min-width: #{$screen-tablet-portrait}) and (max-width: #{$screen-tablet-landscape - 1px}) and (orientation: landscape) {
		@content;
	}
}

// Tablet Portrait
@mixin tablet-portrait {
	@media (min-width: #{$screen-tablet-portrait}) and (max-width: #{$screen-tablet-landscape - 1px}) {
	  @content;
	}
}

// Tablet Landscape and Up
@mixin tablet-landscape-plus {
	@media (min-width: #{$screen-tablet-landscape}) {
	  @content;
	}
}

// Tablet Landscape
@mixin tablet-landscape {
	@media (min-width: #{$screen-tablet-landscape}) and (max-width: #{$screen-desktop - 1px}) {
	  @content;
	}
}

// Desktop
@mixin desktop {
	@media (min-width: #{$screen-desktop}) and (max-width: #{$screen-hd - 1px}) {
	  @content;
	}
}

//High resolution screens
@mixin high-resolution {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;
	}
}